<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="description"
    content="The ultimate guide to the best YouTube channels found here. Vote for your favorite YouTube channels and showcase your favorite YouTubers!" />
  <meta name="keywords" content="best youtube channels" />
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <title>The Best YouTube Channels | Showcasing Creators</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="canonical" href="https://www.showcasingcreators.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
  <script data-ad-client="ca-pub-7704472248823270" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176064121-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-176064121-1');
  </script>
</head>

<body>
  <nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- <div class="navbar-header"> -->
    <a class="navbar-brand" href="/youtube">
      <img class="img-logo" src="/images/logo-nb.png" height="75rem" width="300rem" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- </div> -->


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link <%= (paginate.baseUrl) === "/youtube/trending" ? "active" : null  %>"
            href="/youtube/trending">Trending</a>
        </li>
        <li class="nav-item <%= (paginate.baseUrl) === "/youtube/top-rated" ? "active" : null  %>">
          <a class="nav-link" href="/youtube/top-rated">Top Rated</a>
        </li>
        <li class="nav-item <%= (paginate.baseUrl) === "/youtube/recent-suggestions" ? "active" : null  %>">
          <a class="nav-link" href="/youtube/recent-suggestions">Recent Suggestions</a>
        </li>
        <li class="nav-item dropdown <%= (paginate.baseUrl) === "/search/tags" ? "active" : null  %> ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="category-dropdown dropdown-menu" aria-labelledby="navbarDropdown">

            <% const categories = ["Education","Health / Wellness","Family","Travel","Cars" ,"Religion","Science", "Technology","Animals / Nature","Business","DIY / Crafts","News / Politics" ,"Finance", "Music", "Gaming", "Fashion", "Beauty", "Fitness", "Food / Cooking", "Comedy", "Lifestyle", "Sports", "Entertainment"]%>
            <% categories.sort() %>
            <% categories.forEach((each) => { %>

            <a class="dropdown-item " href="/search/tags?page=1&tag=<%= each %>"> <%= each %></a>

            <% })%>

            <a class="dropdown-item" href="/search/tags?page=1&tag=Miscellaneous"> Miscellaneous</a>

            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Random</a> -->
          </div>
        </li>
      </ul>

      <% if(!user){ %>
      <span class="navbar-text">
        <div>
          <a href="/suggest-channel" class="btn red-button text-light my-3 my-sm-0">
            Suggest a YouTuber</a>
        </div>

        <div>
          <a href="/auth/login" class="signup-btn btn btn-link text-light font-weight-bold my-3 my-sm-0">
            Sign up | Sign in</a>
        </div>
      </span>


      <% } %>
      <% if(user){ %>
      <span class="navbar-text">
        <div class="dropdown nav-item">
          <a class="signup-btn text-light font-weight-bold dropdown-header p-2" href="#" role="button"
            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
            <%= user.username%>
          </a>

          <div class="profile-dropdown dropdown-menu" aria-expanded="false" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item text-dark" href="/profile">Profile</a>
            <a href="/suggest-channel" class="dropdown-item text-dark">Suggest a channel</a>
            <div class="dropdown-divider"></div>
            <a href="/auth/logout" class="dropdown-item text-dark">Logout</a>
          </div>
        </div>
      </span>

      <% } %>
    </div>



    </div>



  </nav>