<%- include('partials/header') %>

<div class="jumbotron bg-dark text-light">
    <div class="container text-center">
        <% if (paginate.baseUrl != "/search/tags"){ %>
        <h1 class="slogan display-4 mb-4">best YouTube channels matching "<%= searchQuery%>"</h1>
        <% } else {%>
        <h1 class="slogan display-4 mb-4">Best <%= tag %> YouTube Channels</h1>

        <%}%>
        <form method="post" action="/search" class="mx-auto">
            <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search channels..."
                aria-label="Search" />
            <button class="btn btn-primary mt-2" type="submit">
                Search
            </button>
        </form>
    </div>
</div>

<div id="card-container" class="container w-50">

    <div class="card-header mb-3 mx-auto bg-white text-black">
        <div class="row">
            <div class="col-sm text-black text-left">
                <% if (paginate.baseUrl != "/search/tags"){ %>
        <p class="mb-0">search results for "<%= searchQuery%>"</p>
        <% } else {%>
        <h5 class="mb-0"><a class="text-dark"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page %><%= tag ? "&tag="+tag : null%>">Category:
                <%= tag %></a></h5>
        <%}%>
            </div>
        <div class="col-sm text-black text-right">

        <h5 class="mb-0">sort by:
            <span>
                <a
                    href="<%=paginate.baseUrl%>?page=<%= paginate.page %><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %>&sort=upvotes">
        upvotes
        </a>
        /
        <a
            href="<%=paginate.baseUrl%>?page=<%= paginate.page %><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %>&sort=recent">
            recent
        </a>
        </span>
        </h5>
    </div>
</div>
</div>

<% results.forEach((channel) => { %>
<div class="card mb-3 mx-auto">
    <h3 class="card-header"> <a href=<%= channel.link %> target="_blank" class="text-dark"><%= channel.name %></a>
    </h3>
    <p class="m-3 text-right">
        <a href="/search/tags?page=1&tag=<%= channel.tags[0] %>"> <em>#<%= channel.tags[0] %></em></a>
    </p>

    <div class="row pt-3 mx-auto">
        <img src="<%= channel.image %>" class="thumb mx-auto img-fluid img-thumbnail align-self-center"
            alt="channel thumbnail">
        <div class="p-3 p-md-4 mx-auto ml-md-4 text-center align-self-center">
            <% let thisChannel %>
            <% let pastDirection %>
            <% if(user){ %>
            <% if (!votedChannelsArray.length){  %>
            <%  thisChannel = -1 %>
            <%  pastDirection = "none" %>
            <% } else if (votedChannelsArray.indexOf(String(channel._id)) != -1){ %>
            <%  thisChannel = votedChannelsArray.indexOf(String(channel._id)) %>
            <%  pastDirection = user.votedChannels[thisChannel].direction %>
            <%}%>
                <button id="up<%= channel._id %>" name="upvote" class="btn row"
            <%= thisChannel != -1 && pastDirection === "up" ? "disabled" : null %>>
            <i class="fas fa-chevron-up fa-3x"></i>
            </button>

            <h1 id=<%= channel._id %> class="row p-0 m-0 justify-content-center">
                <%= channel.votes %></h1>

            <button id="down<%= channel._id %>" name="downvote" class="btn row"
                <%= thisChannel != -1 && pastDirection==="down" ? "disabled" : null %>>
                <i class="fas fa-chevron-down fa-3x"></i>
            </button>
            <% } else { %>
            <button id=" up<%= channel._id %>" name="upvote" class="btn row">
                <i class="fas fa-chevron-up fa-3x"></i>
            </button>

            <h1 id=<%= channel._id %> class="row p-0 m-0 justify-content-center">
                <%= channel.votes %></h1>

            <button id="down<%= channel._id %>" name="downvote" class="btn row">
                <i class="fas fa-chevron-down fa-3x"></i>
            </button>
            <% } %>

        </div>
    </div>
    <div class="card-body">
        <p class="description card-text"><%= channel.description %></p>

        <a href=<%= channel.link %> target="_blank" class="btn btn-primary">Visit channel</a>
    </div>
</div>

<% }) %>
</div>

<nav aria-label="results pages" class="d-flex justify-content-center">

    <ul id="paginate" class="pagination">
        <li class="page-item <%= paginate.previousPage === 0 ? "disabled" : null %>">
            <a class="page-link"
                href="<%=paginate.baseUrl%>?page=<%= 1%><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>"
                tabindex="-1">First</a>
        </li>

        <li class="page-item <%= paginate.previousPage === 0 ? "disabled" : null %>">
            <a class="page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page -1%><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>"
                tabindex="-1">Previous</a>
        </li>
        <% if ((paginate.page + 1 > paginate.numberOfPages) && (paginate.numberOfPages != 1) && (paginate.page - 2 > 0)){ %>
        <li class="page-item">
            <a class=" page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page - 2%><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page -2 %></a>
        </li>
        <% } %>
        <% if (paginate.page -1 >= 1) { %>
        <li class="page-item">
            <a class=" page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page - 1%><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page -1%></a>
        </li>
        <%}%>
    
        <li class="page-item active">
            <a class=" page-link"
              href="<%=paginate.baseUrl%>?page=<%= paginate.page%><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page %></a>
        </li>
        <% if (paginate.page + 1 <= paginate.numberOfPages){ %>
        <li class="page-item">
            <a class=" page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page + 1%><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page + 1 %></a>
        </li>
        <% } %>
        <% if ((paginate.page -1 < 1) && (paginate.numberOfPages !=1) && (paginate.page + 2 <= paginate.numberOfPages)) { %>
        <li class="page-item">
            <a class=" page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page + 2%><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page +2%></a>
        </li>
        <%}%>
    
        <li class="page-item <%= paginate.nextPage === 0 ? "disabled" : null %>">
        <a class="page-link"
            href="<%=paginate.baseUrl%>?page=<%= paginate.page +1 %><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>">Next</a>
        </li>
        <li class="page-item <%= paginate.nextPage === 0 ? "disabled" : null %>">
            <a class="page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.numberOfPages %><%= tag ? "&tag="+tag : null %><%= searchQuery ? "&search="+searchQuery : null %><%= sortOption ? "&sort="+sortOption : null%>">Last</a>
        </li>


    </ul>
</nav>


<%- include('partials/footer') %>