<%- include('../partials/header') %>



<div class="jumbotron bg-dark text-light">
    <div class="container text-center">
        <h1 id="userName" class="slogan display-4">Welcome, <%= user.username %>!</h1>
        <p class="sub-slogan lead">
            Upvote channels you like. Downvote channels you dislike. Showcase your favorite Content Creators.
        </p>

        <% if(!user){ %>
        <a href="/auth/login" class="btn btn-lg btn-outline-primary">Login</a>

        <% } %>
        <% if(user){ %>
        <div class="mt-5">
            <a href="/youtube/profile" class="btn red-button btn-lg mb-2">My YouTube channels</a>
            <a class=" btn btn-lg twitch-button mb-2" href="/twitch/profile ">My Twitch Streams</a>

            <!-- <a class="text-light btn btn-lg btn-primary mb-2" href="/authors/profile">My Authors</a>
            <a class="text-light btn btn-lg btn-success mb-2" href="/podcasts/profile">My Podcasts</a> -->
        </div>

        <% } %>
    </div>
</div>

<div id="card-container" class="container w-50">

    <div class="card-header mb-3 mx-auto bg-white text-black">
        <div class="row">
            <div class="col-sm text-black text-left">
                <h5 class="mb-0"><a class="text-dark" href="/twitch/profile">My channels</a></h5>
            </div>

            <div class="col-sm text-black text-right">
                <h5 class=" mb-0">
                    sort by:
                    <span>
                        <a class="text-black" href="<%=paginate.baseUrl%>?page=<%= paginate.page %>&sort=upvotes">
                            upvotes
                        </a>
                        /
                        <a class="text-black" href="<%=paginate.baseUrl%>?page=<%= paginate.page %>&sort=recent">
                            recent
                        </a>
                    </span>
                </h5>
            </div>
        </div>
    </div>


    <% results.forEach((channel) => { %>
    <div class="card mb-3 mx-auto">
        <h3 class="card-header"> <a href=<%= channel.link %> target="_blank" class="text-dark"><%= channel.name %></a>
        </h3>
        <p class="m-3 text-right">
            <a class="text-black"
                href="/twitch/search/tags?page=1&tag=<%= channel.tags[0] %>"><em>#<%= channel.tags[0] %></em></a>
        </p>
        <div class="row pt-3 mx-auto">
            <img src=<%= channel.image %> class="thumb mx-auto img-fluid img-thumbnail align-self-center" alt="...">
            <div class="p-3 p-md-4 mx-auto ml-md-4 text-center align-self-center">
                <% if(user){ %>
                <% const thisChannel = votedChannelsArray.indexOf(String(channel._id)) %>
                <% const pastDirection = user.votedTwitch[thisChannel].direction %>

                <button id="up<%= channel._id %>" name="upvoteTwitch" class="btn row"
                    <%= thisChannel != -1 && pastDirection === "up" ? "disabled" : null %>>
                    <i class="fas fa-chevron-up fa-3x"></i>
                </button>

                <h1 id=<%= channel._id %> class="row p-0 m-0 justify-content-center">
                    <%= channel.votes %></h1>

                <button id="down<%= channel._id %>" name="downvoteTwitch" class="btn row"
                    <%= thisChannel != -1 && pastDirection==="down" ? "disabled" : null %>>
                    <i class="fas fa-chevron-down fa-3x"></i>
                </button>
                <% } else { %>
                <button id="up<%= channel._id %>" name="upvoteTwitch" class="btn row">
                    <i class="fas fa-chevron-up fa-3x"></i>
                </button>

                <h1 id=<%= channel._id %> class="row p-0 m-0 justify-content-center">
                    <%= channel.votes %></h1>

                <button id="down<%= channel._id %>" name="downvoteTwitch" class="btn row">
                    <i class="fas fa-chevron-down fa-3x"></i>
                </button>
                <% } %>


            </div>
        </div>
        <div class="card-body">
            <p class="description card-text"><%= channel.description %></p>

            <a href=<%= channel.link %> target="_blank" class="btn twitch-button">Visit stream</a>
        </div>

    </div>
    <% }) %>
</div>

<nav aria-label="results pages" class="d-flex justify-content-center">
    <ul id="paginate" class="pagination pagination-twitch">
        <li class="page-item <%= paginate.previousPage === 0 ? "disabled" : null %>">
            <a class="page-link" href="<%=paginate.baseUrl%>?page=<%= 1%><%= sortOption ? "&sort="+sortOption : null%>"
                tabindex="-1">First</a>
        </li>

        <li class="page-item <%= paginate.previousPage === 0 ? "disabled" : null %>">
            <a class="page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page -1%><%= sortOption ? "&sort="+sortOption : null%>"
                tabindex="-1">Previous</a>
        </li>
        <% if ((paginate.page + 1 > paginate.numberOfPages) && (paginate.numberOfPages != 1) && (paginate.page - 2 > 0)){ %>
        <li class="page-item">
            <a class=" page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page - 2%><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page -2 %></a>
        </li>
        <% } %>
        <% if (paginate.page -1 >= 1) { %>
        <li class="page-item">
            <a class=" page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page - 1%><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page -1%></a>
        </li>
        <%}%>

    <li class="page-item active">
        <a class=" page-link"
          href="<%=paginate.baseUrl%>?page=<%= paginate.page%><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page %></a>
        </li>
        <% if (paginate.page + 1 <= paginate.numberOfPages){ %>
        <li class="page-item">
            <a class=" page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page + 1%><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page + 1 %></a>
        </li>
        <% } %>
        <% if ((paginate.page -1 < 1) && (paginate.numberOfPages !=1)&& (paginate.page + 2 <= paginate.numberOfPages)) { %>
        <li class="page-item">
            <a class=" page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.page + 2%><%= sortOption ? "&sort="+sortOption : null%>"><%= paginate.page +2%></a>
        </li>
        <%}%>

    <li class="page-item <%= paginate.nextPage === 0 ? "disabled" : null %>">
        <a class="page-link"
            href="<%=paginate.baseUrl%>?page=<%= paginate.page +1 %><%= sortOption ? "&sort="+sortOption : null%>">Next</a>
        </li>
        <li class="page-item <%= paginate.nextPage === 0 ? "disabled" : null %>">
            <a class="page-link"
                href="<%=paginate.baseUrl%>?page=<%= paginate.numberOfPages %><%= sortOption ? "&sort="+sortOption : null%>">Last</a>
        </li>

    </ul>
</nav>




<%- include('../partials/footer') %>